# Web interface
flask>=3.0
Flask-Cors>=5.0
Flask-Limiter>=3.8

# Verification
aiodns>=3.2
aiosmtplib>=3.0
dnspython>=2.7
email-validator>=2.2
backoff>=2.2

# Bulk upload handling
pandas>=2.2
python-dotenv>=1.0
